header{
    display: flex;
    justify-content: space-between;
    padding: 28px 146px;
    box-shadow: 0px 5px 5px rgb(0,0,0, 0.03);
    & > a{
        display: flex;
    }
    & img{
        object-fit: none;
    }

}