@media screen and (max-width: 425px){
    h1{
        font-size: 27px;
        line-height: 41px;
    }
    h2{
        font-size: 46px;
        line-height: 48px;
    }
    #header_ul{
        display: none;
    }
    .menu-header-container{
        position: relative;
    }
    .arriereblanc{
        display: block;
        content: "";
        position: absolute;
        background-color: white;
        width: 100vw;
        height: 65.95px;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #menu_burger{
        display: block;
        cursor: pointer;
        .menu_status{
            position: relative;
            & img, & input{
                position: absolute;
            }
            & input{
                width: 28px;
                margin: 0;
                height: 19px;
                opacity: 0;
            }
        }
        & li{
            font-size: 44px;
            & > a{
                color: white;
            }
        }
        .menu_list{
            position: absolute;
            background-color: red;
            width: 100vw;
            height: 92vh;
            top: 8vh;
            left: 0;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: -5;
        }
        #menu_ul{
            flex-direction: column;
            align-items: center;
            font-weight: 400;
        }
    }

    .container-single{
        padding: 3vh 16vw 0;
        &__recommandation{
            padding: 3vh 9vw 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            &--images{
                margin: 2vh 0;
                flex-direction: column;
                display: flex;
                justify-content: space-between;
                gap: 2vh;
            }
        }
        &__infos{
            flex-direction: column-reverse;
            &--photo, &--description{
                width: unset;
            }
            &--description::after{
                content: "";
                position: absolute;
                background-color: black;
                width: 100vw;
                height: 2px;
                bottom: 0;
                left: -16vw;
            }
        }
        &__middle{
            flex-direction: column;
            &--contact{
                width: unset;
                align-items: flex-start;
                flex-direction: column;
                gap: 3vw;
            }
            &--carousel{
                display: none;
            }
            &::after{
                content: "";
                position: absolute;
                background-color: black;
                width: 100vw;
                height: 2px;
                bottom: 0;
                left: -16vw;
            }
        }
    }
    footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin: 5vh 0;
    }
    .modal-content{
        max-width: 286px;
        & input{
            width: 190px;
        }
        & textarea{
            width: 190px;
            height: 149px;
        }
        & img{
            max-height: 6.5vh;
        }
        & form{
            margin-top: 14px;
            margin-bottom: 24px;
        }
    }

}